@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

.ranking-link-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.ranking-link-header a {
  color: #1c1c1c;
  position: relative;
}
.ranking-link-header a::after {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #1c1c1c;
  bottom: -3px;
  left: 0px;
  transition: 0.2s ease-out;
}
.ranking-link-header a:hover::after {
  width: 100%;
}
.ranking-link-header a svg {
  position: relative;
  top: 5px;
  height: 25px;
  margin-left: 10px;
}

.table {
  position: relative;
}
.table .table-header,
.table .table-row {
  display: flex;
  width: 100%;
}
.table .table-header {
  border-bottom: 2px solid black;
}
.table .table-content {
  overflow-y: overlay;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
.table .table-content::-webkit-scrollbar {
  width: 7px;
}
.table .table-content::-webkit-scrollbar-track {
  background: #ededed;
}
.table .table-content::-webkit-scrollbar-thumb {
  background: #fdca00;
  border-radius: 50px;
}
.table .table-content::-webkit-scrollbar-thumb:hover {
  background: #fee402;
}
.table .table-content .table-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 0px;
}
.table .table-content .table-row:first-of-type {
  margin-top: 5px;
}
.table .table-content .table-row .table-name-reversed span.last-name {
  text-transform: uppercase;
  font-weight: 600;
}
.table .table-content .table-row .table-previous-span {
  font-size: 13px;
  opacity: 0.8;
  font-weight: 200;
  margin-left: 3px;
}

header {
  position: fixed;
  width: 90%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  z-index: 100;
}
header h1 a {
  color: #fee402;
  text-transform: uppercase;
}
header nav {
  width: 40%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}
header nav ul li a {
  color: #fee402;
  padding: 20px 10px;
}
header nav ul .nav-item-with-dropdown {
  position: relative;
}
header nav ul .nav-item-with-dropdown:hover .nav-dropdown-menu {
  display: block;
}
header nav ul li .nav-dropdown-menu {
  display: none;
  position: absolute;
  right: 0px;
}
header nav ul li .nav-dropdown-menu ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1c1c1c;
  padding: 10px;
  width: 600px;
  border-radius: 15px;
  margin-top: 25px;
}
header nav ul li .nav-dropdown-menu ul li {
  padding: 20px;
}

.hero-section {
  background-color: #fee402;
  height: 80vh;
  width: 90%;
  position: relative;
  padding: 0px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.hero-section .hero-text-container {
  width: 45%;
}
.hero-section .hero-text-container .hero-text-quote {
  margin-bottom: 10px;
  font-weight: 500;
}
.hero-section .hero-text-container .hero-text-quote-byline {
  font-style: italic;
}
.hero-section .hero-text-container p {
  margin-bottom: 20px;
}
.hero-section .hero-ranking-container {
  width: 45%;
  position: relative;
  height: 90%;
}
.hero-section .hero-ranking-container .hero-alltimeranking {
  padding: 20px 30px;
  background-color: #ffffff;
  height: calc(100% - 80px);
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}
.hero-section .hero-ranking-container .hero-alltimeranking::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-color: #ffffff;
  z-index: 10;
  bottom: 0;
  left: 0px;
}
.hero-section .hero-ranking-container .hero-alltimeranking::after {
  position: absolute;
  content: "";
  display: block;
  width: calc(100% - 60px);
  height: 20px;
  bottom: 20px;
  left: 30px;
  box-shadow: inset 0px -12px 10px -12px rgba(0, 0, 0, 0.185);
  z-index: 5;
}
.hero-section .hero-ranking-container .hero-alltimeranking .table-header p:nth-of-type(1),
.hero-section .hero-ranking-container .hero-alltimeranking .table-row p:nth-of-type(1) {
  width: 10%;
}
.hero-section .hero-ranking-container .hero-alltimeranking .table-header p:nth-of-type(2),
.hero-section .hero-ranking-container .hero-alltimeranking .table-row p:nth-of-type(2) {
  width: 40%;
}
.hero-section .hero-ranking-container .hero-alltimeranking .table-header p:nth-of-type(3),
.hero-section .hero-ranking-container .hero-alltimeranking .table-row p:nth-of-type(3) {
  width: 30%;
}
.hero-section .hero-ranking-container .hero-alltimeranking .table-header p:nth-of-type(4),
.hero-section .hero-ranking-container .hero-alltimeranking .table-row p:nth-of-type(4) {
  width: 13%;
}
.hero-section .hero-ranking-container .hero-alltimeranking .table-header p:nth-of-type(5),
.hero-section .hero-ranking-container .hero-alltimeranking .table-row p:nth-of-type(5) {
  width: 12%;
}

.landing-movements-section {
  position: relative;
  padding: 20px 5% 30px;
  background-color: #ffffff;
}
.landing-movements-section .table .table-header svg,
.landing-movements-section .table .table-row svg {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  fill: rgb(53, 189, 0);
}
.landing-movements-section .table .table-header svg.no-change,
.landing-movements-section .table .table-row svg.no-change {
  fill: #a5a5a5;
}
.landing-movements-section .table .table-header p:nth-of-type(1),
.landing-movements-section .table .table-row p:nth-of-type(1) {
  width: 10%;
  display: flex;
  align-items: center;
}
.landing-movements-section .table .table-header p:nth-of-type(2),
.landing-movements-section .table .table-row p:nth-of-type(2) {
  width: 12%;
}
.landing-movements-section .table .table-header p:nth-of-type(3),
.landing-movements-section .table .table-row p:nth-of-type(3) {
  width: 25%;
}
.landing-movements-section .table .table-header p:nth-of-type(4),
.landing-movements-section .table .table-row p:nth-of-type(4) {
  width: 30%;
}
.landing-movements-section .table .table-header p:nth-of-type(5),
.landing-movements-section .table .table-row p:nth-of-type(5) {
  width: 10%;
}
.landing-movements-section .table .table-header p:nth-of-type(6),
.landing-movements-section .table .table-row p:nth-of-type(6) {
  width: 12%;
}
.landing-movements-section .table .table-header p:nth-of-type(7),
.landing-movements-section .table .table-row p:nth-of-type(7) {
  width: 10%;
}/*# sourceMappingURL=style.css.map */