@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black-primary: #111111;
$black-lighter: #1c1c1c;
$yellow-primary: #fee402;
$yellow-darker: #fdca00;
$white-primary: #ffffff;
$white-darker: #ededed;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

main {
    padding-top: 55px;
}

.ranking-link-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &.light {
        a {
            color: $white-primary;

            svg g g {
                fill: $white-primary;
            }

            &::after {
                background-color: $white-primary;
            }
        }

    }

    a {
        color: $black-lighter;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            display: block;
            height: 3px;
            width: 0%;
            background-color: $black-lighter;
            bottom: -3px;
            left: 0px;
            transition: 0.2s ease-out;
        }

        &:hover::after {
            width: 100%;
        }

        svg {
            position: relative;
            top: 5px;
            height: 25px;
            margin-left: 10px;
        }
    }


}

.table {
    position: relative;

    .table-header,
    .table-row {
        display: flex;
        width: 100%;
    }

    .table-header {
        border-bottom: 2px solid black;
    }

    .table-content {
        overflow-y: overlay;
        overflow-x: hidden;
        position: relative;
        height: 100%;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background: $white-darker;
        }

        &::-webkit-scrollbar-thumb {
            background: $yellow-darker;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $yellow-primary;
        }



        .table-row {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 3px 0px;

            p a {
                color: $black-primary;
            }

            &:first-of-type {
                margin-top: 5px;
            }

            .table-name-reversed {
                span.last-name {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .table-previous-span {
                font-size: 13px;
                opacity: 0.8;
                font-weight: 200;
                margin-left: 3px;
            }
        }
    }
}

header {
    position: fixed;
    width: 90%;
    background-color: $black-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    z-index: 100;

    h1 a {
        color: $yellow-primary;
        text-transform: uppercase;
    }

    nav {
        width: 40%;

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 20px 0px;

            li a {
                color: $yellow-primary;
                padding: 20px 10px;
            }

            .nav-item-with-dropdown {
                position: relative;

                &:hover .nav-dropdown-menu {
                    display: block;
                }
            }

            li .nav-dropdown-menu {
                display: none;
                position: absolute;
                right: -0px;

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    background-color: $black-lighter;
                    padding: 10px;
                    width: 600px;
                    border-radius: 15px;
                    margin-top: 25px;

                    li {
                        padding: 20px;
                    }
                }
            }
        }
    }
}

.hero-section {
    background-color: $yellow-primary;
    height: 80vh;
    width: 90%;
    position: relative;
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-text-container {
        width: 45%;

        .hero-text-quote {
            margin-bottom: 10px;
            font-weight: 500;
        }

        .hero-text-quote-byline {
            font-style: italic;
        }

        p {
            margin-bottom: 20px;
        }
    }

    .hero-ranking-container {
        width: 45%;
        position: relative;
        height: 90%;

        .hero-alltimeranking {


            .table-header,
            .table-row {
                p:nth-of-type(1) {
                    width: 10%;
                }

                p:nth-of-type(2) {
                    width: 40%;
                }

                p:nth-of-type(3) {
                    width: 30%;
                }

                p:nth-of-type(4) {
                    width: 13%;
                }

                p:nth-of-type(5) {
                    width: 12%;
                }
            }
        }
    }
}

.landing-ranking-rounded-container {
    padding: 20px 30px;
    background-color: $white-primary;
    height: calc(100% - 80px);
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        background-color: $white-primary;
        z-index: 10;
        bottom: 0;
        left: 0px;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: calc(100% - 60px);
        height: 20px;
        bottom: 20px;
        left: 30px;
        box-shadow: inset 0px -12px 10px -12px rgba(0, 0, 0, 0.185);
        z-index: 5;
    }
}

.landing-movements-section {
    position: relative;
    padding: 20px 5% 30px;
    background-color: $white-primary;

    .table {

        .table-header,
        .table-row {
            svg {
                height: 12px;
                width: 12px;
                margin-right: 5px;
                fill: rgb(53, 189, 0);

                &.no-change {
                    fill: #a5a5a5;
                }
            }

            p:nth-of-type(1) {
                width: 10%;
                display: flex;
                align-items: center;
            }

            p:nth-of-type(2) {
                width: 12%;
            }

            p:nth-of-type(3) {
                width: 25%;
            }

            p:nth-of-type(4) {
                width: 30%;
            }

            p:nth-of-type(5) {
                width: 10%;
            }

            p:nth-of-type(6) {
                width: 12%;
            }

            p:nth-of-type(7) {
                width: 10%;
            }
        }
    }
}

.landing-split-rankings-section {
    background-color: $black-lighter;
    display: flex;
    padding: 20px 5% 40px;
    justify-content: space-between;

    .active-ranking-table-container {
        width: 55%;

        .table-header,
        .table-row {
            p:nth-of-type(1) {
                width: 5%;
            }

            p:nth-of-type(2) {
                width: 35%;
            }

            p:nth-of-type(3) {
                width: 25%;
            }

            p:nth-of-type(4) {
                width: 35%;
            }

            p:nth-of-type(5) {
                width: 10%;
            }
        }
    }

    .danish-ranking-table-container {
        width: 40%;

        .table-header,
        .table-row {
            p:nth-of-type(1) {
                width: 10%;
            }

            p:nth-of-type(2) {
                width: 60%;
            }

            p:nth-of-type(3) {
                width: 25%;
            }

            p:nth-of-type(4) {
                width: 15%;
            }
        }
    }

    .split-ranking-table {
        height: 80vh;
    }
}

.rider-profile-container {
    background-color: $white-darker;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;

    .rider-profile-info-container {
        display: flex;
        align-items: center;

        .rider-profile-info-image-container {
            background-color: rgb(56, 56, 56);
            height: 200px;
            width: 200px;
            display: block;
            content: "";
            border-radius: 15px;
        }

        .rider-profile-info-info-container {
            margin-left: 20px;

            h3 {
                font-size: 30px;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 5px;

                .profile-value-span {
                    font-weight: 600;
                }
            }
        }
    }

    .rider-top-results-container {
        width: 30%;
        background-color: $yellow-primary;
        padding: 15px 20px 15px 55px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px 1px rgba(92, 92, 92, 0.151);

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        ul {
            li {
                position: relative;
                margin-bottom: 2px;

                .result-number-of-span {
                    position: absolute;
                    bottom: 0px;
                    left: -30px;
                }

                .rider-top-result-racename-span {
                    font-weight: 600;
                }
            }
        }

        p {
            margin-top: 10px;

            a {
                color: $black-primary;
                text-decoration: underline solid 2px;
            }
        }
    }
}