@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black-primary: #111111;
$black-lighter: #1c1c1c;
$yellow-primary: #fee402;
$yellow-darker: #fdca00;
$white-primary: #ffffff;
$white-darker: #ededed;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}





// --------------------- GLOBAL STYLING -------------------------

main {
    padding-top: 55px;
}

p .fi {
    margin-right: 5px;
    box-shadow: 0px 0px 1px 1px #5a5a5a1c;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;

    &.light {
        color: $white-primary;
    }
}

a {
    color: $black-lighter;

    &:hover {
        text-decoration: underline 2px solid $black-lighter;
    }
}

.no-underline {
    a:hover {
        text-decoration: none !important;
    }
}

input[type="radio"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    /* For iOS to remove gradient background */
    background-color: #fff;
    margin: 0;
    height: 18px;
    width: 18px;
    border: 2px solid $black-lighter;
    border-radius: 999px;
    margin-right: 10px;
    margin-left: 5px;

    &:checked::before {
        transform: scale(1);
    }

    &::before {
        display: flex;
        position: absolute;
        content: "";
        left: 2px;
        top: 2px;
        width: 10px;
        height: 10px;
        border-radius: 999px;
        transform: scale(0);
        transition: 0.3s;
        background-color: $yellow-darker;
    }
}

.ranking-link-header {
    display: flex;
    align-items: center;

    &.light {
        a {
            color: $white-primary;

            svg g g {
                fill: $white-primary;
            }

            &::after {
                background-color: $white-primary;
            }
        }

    }

    a {
        color: $black-lighter;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            display: block;
            height: 3px;
            width: 0%;
            background-color: $black-lighter;
            bottom: -3px;
            left: 0px;
            transition: 0.2s ease-out;
        }

        &:hover::after {
            width: 100%;
        }

        svg {
            position: relative;
            top: 5px;
            height: 25px;
            margin-left: 10px;
        }
    }


}

.table {
    position: relative;

    .table-header,
    .table-row {
        display: flex;
        width: 100%;
    }

    .table-header {
        border-bottom: 2px solid black;
    }

    .table-content {
        overflow-y: overlay;
        overflow-x: hidden;
        position: relative;
        height: 100%;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background: $white-darker;
        }

        &::-webkit-scrollbar-thumb {
            background: $yellow-darker;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $yellow-primary;
        }

        .table-row {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 3px 0px;

            p a {
                color: $black-primary;

                &:hover {
                    text-decoration: underline solid 2px $black-primary;
                }
            }

            &:first-of-type {
                margin-top: 5px;
            }

            &:last-of-type {
                margin-bottom: 10px;
            }

            .table-name-reversed {
                span.last-name {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .table-previous-span {
                font-size: 15px;
                opacity: 0.8;
                font-weight: 200;
                margin-left: 3px;
            }
        }
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4682466736694678) 0%, rgba(0, 0, 0, 0.20774247198879547) 50%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.2;
        bottom: -22px;
    }
}

.rounded-table-container {
    background-color: $white-primary;
    border-radius: 15px;
    padding: 20px 30px;

    .table {
        margin-bottom: 20px;
    }
}

// --------------------- NAV BAR -------------------------

header {
    position: fixed;
    width: 90%;
    background-color: $black-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    z-index: 100;

    h1 a {
        color: $yellow-primary;
        text-transform: uppercase;
    }

    nav {
        width: 40%;

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 20px 0px;

            li a {
                color: $yellow-primary;
                padding: 20px 10px;
            }

            .nav-item-with-dropdown {
                position: relative;

                &:hover .nav-dropdown-menu {
                    display: block;
                }
            }

            li .nav-dropdown-menu {
                display: none;
                position: absolute;
                right: -0px;

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    background-color: $black-lighter;
                    padding: 10px;
                    width: 600px;
                    border-radius: 15px;
                    margin-top: 25px;

                    li {
                        padding: 20px;
                    }
                }
            }
        }
    }
}




// --------------------- LANDING PAGE -------------------------


.hero-section {
    background-color: $yellow-primary;
    width: 90%;
    position: relative;
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-text-container {
        width: 45%;

        .hero-text-quote {
            margin-bottom: 10px;
            font-weight: 500;
        }

        .hero-text-quote-byline {
            font-style: italic;
        }

        p {
            margin-bottom: 20px;
        }
    }

    .hero-ranking-container {
        width: 45%;
        position: relative;
        margin: 20px 0px;

        .table {
            height: 60vh;

            .table-header,
            .table-row {
                p:nth-of-type(1) {
                    width: 10%;
                }

                p:nth-of-type(2) {
                    width: 40%;
                }

                p:nth-of-type(3) {
                    width: 30%;
                }

                p:nth-of-type(4) {
                    width: 13%;
                }

                p:nth-of-type(5) {
                    width: 12%;
                }
            }
        }
    }
}

.landing-movements-section {
    position: relative;
    padding: 20px 5% 50px;
    background-color: $white-primary;

    .table {
        height: 50vh;

        .table-header,
        .table-row {
            @keyframes rankMovementIndicatorFlash {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            svg {
                height: 12px;
                width: 12px;
                margin-right: 5px;
                fill: rgb(53, 189, 0);
                animation: rankMovementIndicatorFlash 2s infinite ease-in-out;

                &.no-change {
                    fill: #a5a5a5;
                }
            }

            p:nth-of-type(1) {
                width: 10%;
                display: flex;
                align-items: center;
            }

            p:nth-of-type(2) {
                width: 12%;
            }

            p:nth-of-type(3) {
                width: 25%;
            }

            p:nth-of-type(4) {
                width: 30%;
            }

            p:nth-of-type(5) {
                width: 10%;
            }

            p:nth-of-type(6) {
                width: 12%;
            }

            p:nth-of-type(7) {
                width: 10%;
            }
        }
    }
}

.landing-split-rankings-section {
    background-color: $black-lighter;
    display: flex;
    padding: 20px 5% 40px;
    justify-content: space-between;
    position: relative;

    .table {
        height: 60vh;
    }

    .active-ranking-table-container {
        width: 55%;

        .table-header,
        .table-row {
            p:nth-of-type(1) {
                width: 5%;
            }

            p:nth-of-type(2) {
                width: 35%;
            }

            p:nth-of-type(3) {
                width: 25%;
            }

            p:nth-of-type(4) {
                width: 35%;
            }

            p:nth-of-type(5) {
                width: 10%;
            }
        }
    }

    .danish-ranking-table-container {
        width: 40%;

        .table-header,
        .table-row {
            p:nth-of-type(1) {
                width: 10%;
            }

            p:nth-of-type(2) {
                width: 60%;
            }

            p:nth-of-type(3) {
                width: 25%;
            }

            p:nth-of-type(4) {
                width: 15%;
            }
        }
    }
}

.landing-nations-ranking-section {
    padding: 20px 5% 30px;

    .table {
        height: 70vh;

        .table-header,
        .table-row {
            p:nth-of-type(1) {
                width: 5%;
            }

            p:nth-of-type(2) {
                width: 10%;
            }

            p:nth-of-type(3) {
                width: 30%;
            }

            p:nth-of-type(4) {
                width: 10%;
            }

            p:nth-of-type(5) {
                width: 20%;
            }

            p:nth-of-type(6) {
                width: 10%;
            }

            p:nth-of-type(7) {
                width: 10%;
            }
        }
    }
}




// --------------------- RIDER SSG PAGE -------------------------


.rider-profile-container {
    background-color: $white-primary;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;

    .rider-profile-info-container {
        display: flex;
        align-items: center;

        .rider-profile-info-image-container {
            &.rider-only {
                background-color: rgb(56, 56, 56);
                display: block;
                content: "";

            }

            img {
                border-radius: 15px;
            }

            height: 200px;
            width: 200px;
            border-radius: 15px;
        }

        .rider-profile-info-info-container {
            margin-left: 20px;

            h3 {
                font-size: 30px;
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 5px;

                .profile-value-span {
                    font-weight: 600;
                }
            }
        }
    }

    .rider-top-results-container {
        width: 30%;
        background-color: $white-darker;
        padding: 15px 20px 15px 55px;
        border-radius: 15px;
        // box-shadow: 0px 0px 15px 1px rgba(92, 92, 92, 0.151);

        h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        ul {
            li {
                position: relative;
                margin-bottom: 2px;

                .rider-top-result-racename-span {
                    font-weight: 600;
                }
            }
        }

        p {
            margin-top: 10px;

            a {
                color: $black-primary;
                text-decoration: underline solid 2px;
            }
        }
    }
}

.result-number-of-span {
    position: absolute;
    bottom: 0px;
    right: calc(100% + 10px);
}

.rider-evolution-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 30px 5% 40px;
    background-color: $black-lighter;

    .chart-container {
        position: relative;
        width: 45%;


        canvas {
            position: relative;
        }
    }
}

.prev,
.next {
    position: absolute;
    height: 100%;
    top: 50%;
    padding: 5px;
    border: none;

    &::before {
        display: none;
    }
}

.slick-arrow {
    transition: 0.4s;
}

.slick-disabled {
    opacity: 0;
}

.prev {
    left: -50px;

    &::after {
        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 15px;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5886729691876751) 46%, rgba(0, 0, 0, 0) 100%);
        left: 50px;
        top: 0px;
        opacity: 0.07;
    }
}

.next {
    right: -25px;

    &::after {
        display: block;
        content: "";
        position: absolute;
        height: 100%;
        width: 15px;
        background: rgb(0, 0, 0);
        background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5886729691876751) 46%, rgba(0, 0, 0, 0) 100%);
        right: 25px;
        top: 0px;
        opacity: 0.07;
    }
}

.rider-all-results-container {
    padding: 20px 5% 40px;
    position: relative;

    .rider-result-year-container {
        margin-right: 60px;
        padding-left: 50px;

        h4 {
            margin-bottom: 10px;
            font-size: 20px;
        }

        ul li {
            position: relative;
            margin-bottom: 5px;

            .result-race-name {
                font-weight: 600;
            }

            .result-points-sum {
                margin-left: 5px;
                opacity: 0.5;
            }
        }
    }
}

.rider-related-rankings-container {
    background-color: $black-lighter;
    display: flex;
    padding: 20px 5%;
    justify-content: space-between;

    .table-wrapper {
        width: 48%;

        .table {
            height: 80vh;
        }

        &:first-of-type {
            .table {

                .table-header,
                .table-row {
                    p:nth-of-type(1) {
                        width: 10%;
                    }

                    p:nth-of-type(2) {
                        width: 60%;

                        .fi {
                            margin-right: 5px;
                        }
                    }

                    p:nth-of-type(3) {
                        width: 20%;
                    }

                    p:nth-of-type(4) {
                        width: 15%;
                    }

                }
            }
        }

        &:nth-of-type(2) {
            .table {

                .table-header,
                .table-row {
                    p:nth-of-type(1) {
                        width: 10%;
                    }

                    p:nth-of-type(2) {
                        width: 50%;
                    }

                    p:nth-of-type(3) {
                        width: 30%;
                    }

                    p:nth-of-type(4) {
                        width: 15%;
                    }

                }
            }
        }
    }
}






// --------------------- ADVANCED LIST (RIDERS) -------------------------

.inactive {
    text-decoration: line-through;
    opacity: 0.5;
}

.ranking-page-container {
    h2 {
        margin-left: 5%;
        margin-top: 20px;
        font-size: 35px;
    }

    .ranking-filter-options-container {
        padding: 20px 5%;
        display: flex;
        justify-content: space-between;

        select {
            padding: 2px;
            border-radius: 4px;
        }

        .ranking-filter-birth-year-container {
            .ranking-filter-birth-year-radio-container {
                display: flex;

                .ranking-filter-birth-year-radio {
                    display: flex;
                    align-items: center;

                    label {
                        margin-right: 5px;
                    }
                }

                padding-bottom: 5px;
                border-bottom: 1px solid $black-lighter;
            }

            >div {
                margin-bottom: 10px;
            }

            .ranking-filter-born {
                label {
                    margin-right: 5px;
                }
            }
        }

        .ranking-filter-nation-container {
            select {
                width: 100%;
                margin-top: 5px;
            }
        }

        .ranking-filter-active-container {
            .ranking-filter-active-radio-container {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
        }

        button {
            background-color: $yellow-primary;
            border: none;
            border-radius: 15px;
            height: fit-content;
            padding: 15px 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;
            box-shadow: 0px 0px 5px 0px #00000017;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 0px 5px 2px #00000017;
            }

            &:active {
                transform: scale(0.95);
            }

            span {
                margin-left: 5px;
            }
        }
    }

    .ranking-page-table-container {
        padding: 20px 5%;

        .table {

            .table-header,
            .table-row {
                p:nth-of-type(1) {
                    width: 5%;
                }

                p:nth-of-type(2) {
                    width: 5%;
                }


                p:nth-of-type(3) {
                    width: 10%;
                }

                p:nth-of-type(4) {
                    width: 40%;
                }

                p:nth-of-type(5) {
                    width: 30%;
                }

                p:nth-of-type(6) {
                    width: 15%;
                }
            }

            .table-row {
                p:nth-of-type(6) {
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline 2px solid $black-lighter;
                    }
                }
            }
        }
    }
}

.load-more-results-button {
    margin: 0px 5%;
    width: 90%;
    padding: 10px 0px;
    border: none;
    background-color: $yellow-primary;
    font-weight: 600;
    border-radius: 5px;

    &:hover {
        background-color: $yellow-darker;
        cursor: pointer;
    }

    &:active {
        border: none;
    }
}






// --------------------- NATION SSG PAGE -------------------------

.nation-profile-info-image-container {
    height: 187.5px;
    width: 250px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #11111150;

    span {
        height: 100%;
        width: 100%;
        top: -2px;
    }
}

.nation-evolution-container {
    padding: 20px 5%;
    background-color: $black-lighter;


    .charts-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .chart-container {
            width: 48%;
        }
    }
}

.nation-top-results-container {
    padding: 20px 5% 40px;

    .table {

        .table-header,
        .table-row {
            p:nth-of-type(1) {
                width: 5%;
            }

            p:nth-of-type(2) {
                width: 5%;
            }

            p:nth-of-type(3) {
                width: 30%;
            }

            p:nth-of-type(4) {
                width: 60%;
                padding-right: 20px;
                line-height: 20px;
            }
        }
    }
}

.nation-rankings-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 5% 40px;

    .table {
        height: 70vh;
    }

    .table-wrapper {
        width: 48%;

        .fi {
            margin-right: 5px;
        }
    }

    &.riders-ranked {
        background-color: $black-lighter;

        .table-wrapper {
            .table {

                .table-header,
                .table-row {
                    p:nth-of-type(1) {
                        width: 10%;
                    }

                    p:nth-of-type(2) {
                        width: 60%;
                    }

                    p:nth-of-type(3) {
                        width: 30%;
                    }

                    p:nth-of-type(4) {
                        width: 15%;
                    }
                }
            }
        }
    }

    &.nations-ranked {
        background-color: $white-darker;

        .table-wrapper {
            .table {
                .table-header {
                    align-items: flex-end;
                }

                .table-content .highlighted-nation {
                    font-weight: 600;

                }

                .table-header,
                .table-row {
                    p:nth-of-type(1) {
                        width: 8%;
                    }

                    p:nth-of-type(2) {
                        width: 35%;
                    }

                    p:nth-of-type(3) {
                        width: 20%;
                    }

                    p:nth-of-type(4) {
                        width: 25%;
                    }

                    p:nth-of-type(5) {
                        width: 10%;
                    }
                }
            }
        }
    }
}





// --------------------- NATIONS ADVANCED LIST -------------------------

.nation-ranking-page {
    >h2 {
        padding: 20px 5%;
    }

    .nation-table-wrapper {
        padding: 20px 5%;

        .nation-ranking-table-filter-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            margin-top: 10px;

            div {
                display: flex;
                align-items: center;

                input {
                    margin-left: 15px;
                    margin-right: 5px;
                }
            }
        }

        .table {

            .table-header,
            .table-row {
                p:nth-of-type(1) {
                    width: 5%;
                }

                p:nth-of-type(2) {
                    width: 10%;
                }

                p:nth-of-type(3) {
                    width: 15%;
                }

                p:nth-of-type(4) {
                    width: 50%;
                }

                p:nth-of-type(5) {
                    width: 10%;
                }

                p:nth-of-type(6) {
                    width: 10%;
                }
            }
        }
    }

    .nations-ranking-chart-container {
        background-color: $black-lighter;
        padding: 20px 5%;

        h2 {
            color: $white-primary;
            margin-bottom: 15px;
        }

        .chart-custom-legend {
            h4 {
                color: $white-primary;
                margin: 5px 0px 10px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    padding: 5px 10px;
                    margin: 10px 5px;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.05);
                    }

                    span {
                        margin-right: 5px;
                        box-shadow: 0px 0px 5px 1px rgba(105, 105, 105, 0.432);
                    }
                }
            }
        }
    }
}