@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$gold-main: #ffd100;
$silver-main: #c1d8ec;
$bronze-main: #c58037;

$black-main: #111111;
$white-main: #ffffff;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $black-main;
}

.sec-header {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: $gold-main;
    margin-bottom: 20px;
    text-align: center;
}

.landing-container {
    background-color: $black-main;
    position: relative;

    .landing-quote-container {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $gold-main;
        padding: 100px 10% 250px;
        margin-bottom: -150px;
        background-image: url(../images/cyclists-black-white.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &::after {
            display: block;
            position: absolute;
            content: "";
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 500px;
            background: #111111;
            background: linear-gradient(0deg, #111111 0%, #11111196 46%, #11111100);
        }

        h2 {
            font-size: 38px;
            text-shadow: #111111 0px 0px 20px;
            font-weight: 500;
            z-index: 2;
        }

        h3 {
            z-index: 2;
            font-style: italic;
            font-weight: 400;
            font-size: 25px;
            margin-top: 15px;
        }
    }

    .landing-alltime-ranking-container {
        position: relative;
        z-index: 2;
        margin: 0px 15%;

        .ranking-table-container {
            color: $white-main;
            width: 100%;

            .ranking-table-titles {
                font-weight: 600;
                margin-bottom: 10px;
            }

            .ranking-table-row {
                padding: 3px 0px;
                border-bottom: solid #ffffff30 1px;
            }

            .ranking-table {
                display: flex;
                width: 100%;

                p,
                span {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    font-size: 18px;
                }

                p:first-child {
                    width: 15%;
                }

                p:nth-child(2) {
                    width: 35%;

                    span {
                        margin-right: 0.5rem;
                        font-weight: 600;
                        font-size: 20px;
                    }
                }

                p:nth-child(3) {
                    width: 25%;
                }

                .fi {
                    height: 80%;
                    margin-right: 8px;
                }

                p:nth-child(4) {
                    width: 15%;
                }

                p:nth-child(5) {
                    width: 10%;
                    font-weight: 600;
                }


            }

            .rank-nr-1 {
                color: $gold-main;
            }

            .rank-nr-2 {
                color: $silver-main;
            }

            .rank-nr-3 {
                color: $bronze-main;
            }
        }
    }
}